.container {
  display: flex;
  background: var(--azul-bkg);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.panel {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap: 10px;
  background: var(--azul-bkg);
  overflow-y: auto;
  margin: 5% 5% 0 5%;
}
@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card {
  position: relative;
  width: 20%;
  min-width: 250px;
  background: var(--azul-card);
  border-radius: 10px;
  padding: 20px 15px 10px 15px;
  margin: 10px 15px 10px 10px;
  height: 220px;
  transition: background 0.2s;
  overflow-y: auto;
  animation-name: appearFromLeft;
  animation-duration: 0.6s;

  &:hover {
    background: #303030;
  }

  h1 {
    justify-self: center;
    align-self: center;
    font-size: 15px;
    margin-bottom: 1px;
    font-family: "Roboto";
    font-weight: light;
    color: #d6d6d6;
  }
  ul {
    max-height: 90px;
    overflow-y: auto;
    margin: 10px 0 10px 0;

    li {
      font-family: "Roboto";
      list-style: none;
      margin: 0 0 5px 10px;
      font-size: 15px;
      font-weight: lighter;
      color: var(--branco-text);
    }
  }

  .cardBottom {
    position: absolute;
    width: 90%;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 20px;
    color: #c8d8e4;
    padding: 0 10px 0 5px;
    h3 {
      font-size: 15px;
      font-weight: lighter;
    }
  }
}
.topCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;

  .deleteEdit {
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .deleteContainer {
    width: 30px;
    border-radius: 3px;
    color: rgb(184, 184, 184);
    transition: color 0.2s;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .editContainer {
    width: 30px;
    border-radius: 3px;
    margin-right: 10px;
    color: rgb(184, 184, 184);
    transition: color 0.2s;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 500px) {
  .card {
    margin-left: 10%;
  }
}
