.container {
  display: flex;
  background: var(--azul-bkg);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;

}

.form {
  position: absolute;
  top: 1%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .search {
    height: 35px;
    width: 40%;
    border-radius: 4px;
    padding: 0 0 0 10px;

    &:focus {
      outline: none;
    }

  }
}

.panel {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap: 15px;
  background: var(--azul-bkg);
  overflow-y: auto;
  margin: 8% 5% 5% 5%;
  padding: 20px 0 0 0;
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card {
  position: relative;
  width: 20%;
  min-width: 250px;
  background: var(--azul-card);
  border-radius: 10px;
  padding: 20px 15px 10px 15px;
  margin: 10px 15px 10px 10px;
  height: 320px;
  transition: background 0.2s;
  overflow-y: auto;
  animation-name: appearFromLeft;
  animation-duration: 0.6s;
  cursor: pointer;

  &:hover {
    background: #062d4d;
  }

  h1 {
    justify-self: center;
    align-self: center;
    font-size: 15px;
    margin-bottom: 1px;
    font-family: "Roboto";
    font-weight: light;
    color: var(--branco-text);
  }

  ul {
    max-height: 90px;
    overflow-y: auto;
    margin: 10px 0 10px 0;

    li {
      font-family: "Roboto";
      list-style: none;
      margin: 0 0 5px 10px;
      font-size: 14px;
      font-weight: lighter;
      color: var(--branco-text);
    }
  }

  .cardBottom {
    position: absolute;
    width: 90%;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 20px;
    color: #c8d8e4;
    padding: 0 10px 0 5px;

    h3 {
      font-size: 15px;
      font-weight: lighter;
    }
  }

  .imageContainer {
    position: absolute;
    top: 55%;
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: var(--azul-bkg);
    border-radius: 8px;
    padding: 5px;

    .imagefile {
      border-radius: 8px;
    }
  }
}

.disabledCard {
  position: relative;
  width: 20%;
  min-width: 250px;
  background: rgb(54, 54, 54);
  border-radius: 10px;
  padding: 20px 15px 10px 15px;
  margin: 10px 15px 10px 10px;
  height: 320px;
  transition: background 0.2s;
  overflow-y: auto;
  animation-name: appearFromLeft;
  animation-duration: 0.6s;
  cursor: pointer;

  &:hover {
    background: rgb(71, 71, 71);
    ;
  }

  h1 {
    justify-self: center;
    align-self: center;
    font-size: 15px;
    margin-bottom: 1px;
    font-family: "Roboto";
    font-weight: light;
    color: var(--branco-text);
  }

  ul {
    max-height: 90px;
    overflow-y: auto;
    margin: 10px 0 10px 0;

    li {
      font-family: "Roboto";
      list-style: none;
      margin: 0 0 5px 10px;
      font-size: 15px;
      font-weight: lighter;
      color: var(--branco-text);
    }
  }

  .cardBottom {
    position: absolute;
    width: 90%;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 20px;
    color: #c8d8e4;
    padding: 0 10px 0 5px;

    h3 {
      font-size: 15px;
      font-weight: lighter;
    }
  }

  .imageContainer {
    position: absolute;
    top: 55%;
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #585656;
    border-radius: 8px;
    padding: 5px;

    .imagefile {
      border-radius: 8px;
    }
  }
}

.topCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;

  .deleteEdit {
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .deleteContainer {
    width: 30px;
    border-radius: 3px;
    color: rgb(184, 184, 184);
    transition: color 0.2s;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

}

.editContainer {
  width: 30px;
  border-radius: 3px;
  margin-right: 10px;
  color: rgb(184, 184, 184);
  transition: 0.2s;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.modalUpdate {
  display: flex;
  background-color: #1e1d1dee;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;

}

@media (max-width: 500px) {
  .card {
    margin-left: 10%;
  }
}