.e-footer-content {}

.whatsappContainer {
  cursor: pointer;

  &:hover {
    color: green;
  }
}

.e-event-save {}

.card {
  position: relative;
  width: 100%;
  background: transparent;
  border-radius: 10px;
  padding: 5px 15px 10px 5px;
  margin: 5px 10px 10px 10px;
  height: 270px;
  transition: background 0.2s;
  font-weight: bold;
  font-size: 16px;
  overflow-y: auto;
  animation-name: appearFromLeft;
  animation-duration: 0.6s;

  p {
    margin: 9px;
    max-width: 300px;
    color: #535252;
    font-family: "Roboto";
  }

  .cardBottom {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.numberContainer {
  display: flex;
  justify-content: space-between;
  margin: -8px 0 -8px 0;
}

.wppIcon {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  color: #d3cfcf;
  transition: color 0.2s;

  &:hover {
    color: green;
  }
}

.bottomContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  bottom: 5px;
}

.deleteContainer {
  display: flex;
  align-self: center;
  cursor: pointer;
  color: #000000;
  transition: color 0.2s;

  &:hover {
    color: rgb(255, 88, 88);
  }
}

.dropContainer {
  display: flex;
  width: 90%;
}


.addToFinButton {
  position: absolute;
  margin-left: 15px;
  cursor: pointer;
  color: rgb(4, 133, 0);
  transition: 0.2s;
  height: 30px;
  width: 40px;
  background-color: #1b215c;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    color: rgb(16, 185, 10);
    background-color: #000000;


  }
}