.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 8%;
}
.cardContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.loginCard {
  margin-top: -5%;
  background: var(--azul-card);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 333px;
  div {
    button {
      color: rgb(248, 248, 248);
      margin-top: 8px;
      background-color: var(--azul-button);
      transition: background-color 0.6s;

      &:hover {
        background-color: var(--azul-hover);
      }
    }
  }

  h1 {
    margin: 30px 0 10px 0;
    color: rgb(207, 205, 205);
    font-family: "Rouge Script";
    font-weight: 10;
  }

  input {
    color: rgb(207, 205, 205);
    &::placeholder{
      color: rgb(175, 175, 175);
    }
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}
.spamContainer {
  margin-bottom: 35px;
}

.space {
  width: 100%;
  margin-top: 10%;
}
