.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.panelContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  padding: 5px;
}

@keyframes increaseSize {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(100%, 100%);
  }
}
.panel {
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  max-height: 473px;
  background: var(--azul-card);
  overflow-x: hidden;
  height: 100%;
  padding-top: 25px;
  margin-top: 10%;
  animation: increaseSize 0.5s;

  .formatedDate {
    position: absolute;
    margin: 0;
    overflow-y: hidden;
    background: var(--input-color);
    margin-top: 30px;
    margin-left: 23px;
    width: 60%;
    max-width: 280px;
    height: 40px;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    z-index: 2;
    font-family: "Roboto";
    font-size: 15px;
    color: var(--branco-text);
  }

  .datePicker {
    position: relative;
    color: transparent;
    background: transparent;
    border: none;

    z-index: 3;
    outline: transparent;
  }

  input {
    margin-top: 20px;
    width: 70%;
    margin-left: 10%;
    height: 35px;
    text-align: center;
    background: var(--gray-backg);
    border-radius: 1px;
    font-family: "Roboto";
    color: var(--branco-text);
  }

  h3 {
    margin-top: 30px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: medium;
    color: var(--branco-text);
  }
}

.morningAfternoon {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 2px;

  div {
    input {
      max-width: 100px;
      font-size: 15px;
      height: 40px;
      border-bottom: none;
      background: var(--input-color);
      border-radius: 2px;
    }
  }
}

.buttonContainer {
  width: 100%;
  margin: 30px 0 0 0px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    button {
      margin-left: 2%;
      height: 40px;
      width: 55%;
      max-width: 280px;
      background-color: var(--azul-button);
      border-radius: 2px;
      color: rgb(219, 237, 248);
      font-weight: bold;
      font-family: "Roboto";
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--azul-hover);
      }
    }
  }
}

@media (max-width: 420px) {
  .morningAfternoon {
    display: flex;
  }

  .panel {
    height: 90%;
    .formatedDate {
      max-width: 160px;
    }
  }
}
