.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10%;
  height: 100vh;
  background-color: var(--client-white);

  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: var(--client-pink1);
    font-family: "Roboto";
    line-height: 25px;
  }
}

.congratsContainer {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.congrats {
  margin-right: 10px;
  color: var(--client-white);

}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 20px 0;
  background-color: var(--client-pink2);
  width: 90%;
  height: 25vh;
  border-radius: 8px;
  padding: 10px;

  h2 {
    color: var(--client-white);
  }

  p {
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    margin-top: 50px;
    color: var(--client-pink2);
    line-height: 20px;
  }


}

.text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 20px 0;
  background-color: var(--client-pink2);
  width: 90%;
  height: 30vh;
  border-radius: 8px;
  padding: 10px;

  h2 {
    color: var(--client-white);
  }

  p {
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    margin-top: 30px;
    color: var(--client-white);
    line-height: 20px;
  }

}

.buttonContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60%;
  padding: 5px;
  top: 90%;

  button {
    width: 100%;
    height: 90%;
    font-family: "Roboto";
    font-weight: lighter;
    color: var(--client-white);
    font-size: 16px;
    background-color: var(--client-pink1);
    border: none;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--client-pink1hover);
    }
  }
}

.whatsAppIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 18%;

  border-radius: 8px;
  height: 50px;
  background-color: #c31595;
  transition: 0.2s;

  &:hover {
    background-color: #ed50c5;
    color: rgb(234, 234, 234);

  }

  color: rgb(227, 227, 227);
}

.paymentAlert {
  color: var(--client-pink2);
  font-size: 14px;
  font-family: "Roboto";
}