.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #b3b3b3;
    font-family: "Roboto";
  }
}
.congratsContainer {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.congrats {
  margin-right: 10px;
  margin-bottom: 2%;
}

.text {
  display: flex;
  align-items: center;
  width: 90%;
  flex-direction: column;

  margin: 20px 0 20px 0;

  p {
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    margin-top: 30px;
    color: #b8b5b5;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60%;
  padding: 5px;
  margin-top: 6%;

  button {
    width: 100%;
    height: 90%;
    font-family: "Roboto";
    font-weight: lighter;
    color: #fff;
    font-size: 16px;
    background-color: var(--azul-button);
    border: none;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba($color: #3c2841, $alpha: 0.6);
    }
  }
}

.whatsAppIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20px;
  margin-top: 15px;

  color: #156901;
}
